@use "/src/assets/mixins" as m;
@import "../../../assets/_GlobalVars.scss";
.test {
  height: 100%;
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2%;
    a {
      text-decoration-line: underline;
      cursor: pointer;
      &:active {
        color: $color-primary;
      }
    }
    .main {
      height: 89%;
      overflow-y: auto;
      box-sizing: border-box;
      padding-inline: 1rem;
    }
    .header {
      padding-block: 1%;
      padding-inline: 1rem;
      border-radius: 5px;
      font-size: 2rem;
      font-weight: 500;
      background: rgb(228, 214, 250);
      color: rgb(94 70 132);
      display: flex;
      justify-content: space-between;
      align-items: center;
      input {
        text-transform: capitalize;
        transition: background-color 0.3s;
        border-radius: 8px;
        padding: 0.3rem;
        font: inherit;
        background: inherit;
        border: inherit;
        outline: none;
        color: inherit;
        &:hover {
          background: lighten(rgb(228, 214, 250), 5);
        }
      }
      button {
        @include m.button($color-secondary, $color-primary, 1rem, 1rem, 0.3rem);
        margin: 0;
        border-radius: 5px;
        &:active {
          background-color: darken($color-primary, $amount: 15);
        }
      }
    }
  }
}
.add {
  display: flex;
  justify-content: center;
  border-top: $color-primary solid 1px;
  box-sizing: border-box;
  padding-top: 1rem;
  font-size: 1.5rem;
  color: gray;
  text-transform: capitalize;
  font-weight: 500;
}
