<form (submit)="OnSubmit() ">
    <h3>{{title}}</h3>
    <div *ngFor="let field of formInputs[formType]; index as  i">
        <label for="{{field[0]}}">{{field[0]+' :'}} </label>
        <input type="{{field[1]}}" name="{{field[0]}}" [formControl]="form.controls[i]" placeholder="{{field[0]+'...'}}"/>
    </div>
    <a *ngIf="formType == 'register'" href="/auth" >Log in ?</a>
    <a *ngIf="formType == 'login'" href="/auth/register">Sign up ?</a>
    <p *ngIf="emptyFields" style="color:red">All fields are required</p>
    <p *ngIf="error" style="color:red">{{error}}</p>
    <button type="submit">{{button}}</button>
</form>
