<tr [formGroup]="form">
    <td><input type="text" formControlName="designation" placeholder="designation"  (change)="OnBlur()"></td>
    <td><input type="text" formControlName="qte" placeholder="qte"  (change)="OnBlur()"></td>
    <td><input type="text" formControlName="unit" placeholder="unit"  (change)="OnBlur()"></td>
    <td><input type="text" formControlName="tva" placeholder="tva"  (change)="OnBlur()"></td>
    <td><input type="text" formControlName="pu" placeholder="pu"  (change)="OnBlur()"></td>
    <td>{{total}}</td>
    
</tr>